/Debug/
/src/exeNetworkAccessController
/src/github.com/akamensky
/src/github.com/clarketm
/src/github.com/scorredoira
/src/github.com/sirupsen
/src/github.com/streadway
/src/github.com/dgrijalva
/src/github.com/google
/src/github.com/gorilla
/src/github.com/sfreiberg
/src/github.com/sirupsen
/src/golang.org/*
/src/gopkg.in/*
/bin/*
/src/pkg/
/config.yml
/NAC.yml
/pkg/